.App {
  background: #253031;
  min-height: 100vh;
}

.PhotoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8em 0.8em;
  padding: 1.3em;
  box-sizing: border-box;
}

.Photo-likes, .Photo-details, .Photo-likes {
  display: none;
}

.Photo {
  border: 3px solid #4E6766;
  overflow: hidden;
}

.Photo-link {
  display: block;
  margin-bottom: -3px;
}

.Photo-photo {
  width: 100%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}